* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.padder {
  padding: 3px;
}
#game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#board {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
}
.square:nth-child(3n) {
  border-right: 0;
}

.square:nth-child(3n + 1) {
  border-left: 0;
}

.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(3) {
  border-top: 0;
}
.square:nth-child(7),
.square:nth-child(8),
.square:nth-child(9) {
  border-bottom: 0;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 30px;
  display: flex;
  justify-content: center;

  border: 1px solid black;
  align-items: center;
}

#head {
  font-size: 25px;
  padding: 10px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonStyle {
  margin-left: 525px;
  display: flex;
  justify-content: center;
  align-items: center;
}
